@font-face {
    font-family: makinas-f;
    src: url(/res/fonts/Makinas-4-Flat.otf);
}

body {
    margin-left: 50px;
    font-family: makinas-f;
    background-color: var(--background);
    color: var(--main-font);
}

h1 {
    font-size: 110px;
}

p,a {
    color: inherit;
    font-size: xx-large;

    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #807783;
}