@font-face {
    font-family: bestten-dot;
    src: url("/res/BestTen-DOT.otf");
}

:root {
    --bgColor-inset: "#000000"
}

.logo {
    margin-bottom: 30px;
    width: 100%;
}

img {
    pointer-events: none;
    -webkit-user-select: none; /* Safari対応 */
    user-select: none;
}

html {
    height: 100%
}

body {
    /*background: url("/res/top_background.png") no-repeat center/cover fixed;*/
    background-color: #c1c6e2;
    background-position: top;
    font-family: bestten-dot;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    color: #ffffff;
}

.content {
    /*background-color: rgba(92, 71, 99, 0.2);*/
    background-color: rgba(140, 176, 206, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 2px solid #ffffff;
    margin: 30px 30px;
    padding: 10px 30px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.content_html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.sidebar {
    background-color: rgba(29, 54, 75, 0.3);
    width: 300px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(10px); /* Safari対応 */
    backdrop-filter: blur(10px);
}

ul {
    padding-left: 7px;
}

li {
    font-size: 20px;
    padding: 20px 7px;
    list-style: none;
    transition: 0.3s ease;
    -webkit-user-select: none; /* Safari対応 */
    user-select: none;
}

li:not(.current):hover {
    color: darkgrey;
}

li.current {
    color: rgb(108, 131, 134);
}
