:root {
    --main-font: #a89dac;
    --content-font: #e7e7eb;

    --sidebar: #c8c2c6;
    --sidebar-shadow: #bbb6b9;
    --sidebar-font: #95859c;
    --sidebar-font-hover: #4f455c;

    --background :#e7e7eb;


    --content-background: #95949a;
    --content-border: #594255;

    --scrollbar-thumb-color: gray;
    --scrollbar-thumb-color-hover: rgb(104, 104, 104);

    --sort-background: #8d7c73;
    --sort-item-background: #9b8a80;
    --sort-item-hover: #81746c;
    --sort-item-focus: #7a6d64;

    --works-item-background: #9b8a80;
}