#links {
    display: flex;
    flex-wrap: wrap;
}

.link  {
    background-color: #777272;
    border: solid 2px #777272;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    display: flex;

    width: 370px;
    height: 105px;

    transition: all 0.2s ease-in-out;
}

.link:hover {
    /*border: solid 2px #615e5e;*/
    transform: translateX(5px)
}

.link img {
    margin-right: 15px;
    border-radius: 10px;
}

.link h2 {
    margin-bottom: 5px;
}