html,body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;

    grid-template-areas:
        "sidebar content";



    font-family: makinas-f;
    background-color: var(--background);
    color: var(--main-font);
}

sidebar {
    position: fixed;
    grid-area: sidebar;
    user-select: none;
    background-color: var(--sidebar);
    height: 100%;
    width: 200px;

    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

#back {
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;

    transition: background-color 0.2s ease-in-out;
}

#back.hovered {
    background-color: rgba(0, 0, 0, 0.3);
}

sidebar:hover {
    width: 250px;
    box-shadow: 2px 0 5px 2px var(--sidebar-shadow);
}

.tab {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight:600;
    color:var(--sidebar-font);

    transition: color 0.2s ease-in-out;
}

.tab:hover {
    color: var(--sidebar-font-hover);
}


#logo {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

#content {
    grid-area: content;
    background-color: var(--content-background);
}

#content iframe {
    margin-left: 10px;
    padding: 20px;
    border: none;
    width: calc(100% - 50px);
    height: calc(100% - 45px);
    opacity: 1;

    transition: opacity 0.5s ease-in-out;
}

#content iframe.disapper {
    opacity: 0;
}