html,body {
    margin: 0;
    height: 100%;
}

body {
    font-family: makinas-f;
    background-color: var(--background);
    color: var(--main-font);
}

sidebar {
    user-select: none;
    position: fixed;
    background-color: var(--sidebar);
    height: 100%;
    width: 250px;
    padding: 10px;
}