html,body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr;



    font-family: makinas-f;
    background-color: var(--background);
    color: var(--main-font);
}

sidebar {
    position: fixed;
    user-select: none;
    background-color: var(--sidebar);
    box-shadow: 2px 0 5px 2px var(--sidebar-shadow);
    height: 100%;
    width: 65%;

    transition: all 0.4s ease-in-out;
    z-index: 9999;

    transform: translateX(-110%);
}

sidebar:not(.hidden) {
    transform: translateX(0);
}

#back {
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;

    transition: background-color 0.4s ease-in-out;
}

#back.hovered {
    background-color: rgba(0, 0, 0, 0.3);
}

.tab {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight:600;
    color:var(--sidebar-font);

    transition: color 0.2s ease-in-out;
}

.tab:hover {
    color: var(--sidebar-font-hover);
}


#logo {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

#content {
background-color: var(--content-background);
}

#content iframe {
    margin-left: 10px;
    padding: 20px;
    border: none;
    width: calc(100% - 50px);
    height: calc(100% - 45px);
    opacity: 1;

    transition: opacity 0.5s ease-in-out;
}

#content iframe.disapper {
    opacity: 0;
}

#hamburger {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed;
    width: 50px;
    height: 50px;

    right: 25px;
    top: 25px;

    z-index: 9999;
}

#hamburger span {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease;

    width: 20px;
}

#hamburger span:first-child {
    margin-top: 16px;
}

#hamburger span:nth-child(1) {
  transform: translateY(0) rotate(0);
}
#hamburger span:nth-child(2) {
  opacity: 1;
}
#hamburger span:nth-child(3) {
  transform: translateY(0) rotate(0);
}

#hamburger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
#hamburger.active span:nth-child(2) {
  opacity: 0;
}
#hamburger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
